//
// html5lab.less
// Bootstrapとは別に、独自に定義したスタイルを記述する
// ==================================================

@import "html5lab-variables.less";

// All Pages
// --------------------------------------------------

// Footer
.hl-footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background: @footer-background-color;
    color: @footer-text-color;

    a {
        color: @footer-text-color;
    }

    .hl-social-buttons {
        max-height: 50px;
    }

    .hl-links {
        margin-top: 20px;
        padding-left: 0;
        li {
            display: inline;
            padding: 0 2px;
        }
    }

    .hl-copyright {
    }
}

// Top Page
// --------------------------------------------------

#toppageAbout {
    background: @toppage-about-background-image no-repeat center center;
    background-color: @toppage-about-background-color;
    background-size: cover !important;
    color: @toppage-about-text-color;
    margin-top: -@body-padding-top;
    padding-top: @body-padding-top;
}

.hl-toppage-lead-copy {
}

.hl-toppage-down {
}

#toppageCopy {
    background-color: @toppage-copy-background-color;
    color: @toppage-copy-text-color;
    padding-top: 100px;
    padding-bottom: 100px;
}

#toppageActivity {
    background-color: @toppage-activity-background-color;
    color: @toppage-activity-text-color;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hl-activity {
    color: @toppage-activity-text-color;
    display: block;
    border: 1px solid @toppage-activity-text-color;
    width: 220px;
    height: 220px;
    border-radius: 110px;

    &:hover, &:focus {
        color: @toppage-activity-text-color;
    }
}

#toppageMedia {
    background-color: @toppage-media-background-color;
    color: @toppage-media-text-color;
    padding-top: 100px;
    padding-bottom: 100px;
}

#toppageProduct {
    background-color: @toppage-product-background-color;
    color: @toppage-product-text-color;
    padding-top: 100px;
    padding-bottom: 100px;

    .carousel-inner {
        .item {
            .row {
                & > div {
                    padding-bottom: 50px;
                }
            }
        }
    }
}

#toppageCommunity {
    background-color: @toppage-community-background-color;
    color: @toppage-community-text-color;
    padding-top: 100px;
    padding-bottom: 100px;

    a {
        color: @toppage-community-text-color;
        text-decoration: underline;

        &:hover, &:focus {

        }
    }
}

.hl-toppage-nav {
    position: fixed;
    right: 10px;
    top: @body-padding-top;
}

// Community Page
// --------------------------------------------------
.hl-affix.affix {
    position: fixed;
    top: @body-padding-top;
}

@media (min-width:992px) {
    .hl-affix.affix, .hl-affix.affix-bottom {
        width: 131px;
    }
}

@media (min-width:1200px) {
    .hl-affix.affix, .hl-affix.affix-bottom {
        width: 165px;
    }
}

