html {
  height: 100%;
}
body {
  min-height: 100%;
}
.hl-navbar {
  background-color: rgba(255, 255, 255, 0.5);
  color: #333333;
}
.hl-navbar .hl-brand {
  padding-top: 10px;
  padding-bottom: 10px;
}
.hl-navbar .hl-brand .hl-loog {
  font-size: 28px;
  line-height: 28px;
}
.hl-navbar .hl-brand .hl-tagline {
  font-size: 10px;
  line-height: 11px;
  letter-spacing: -1px;
}
.hl-social-buttons {
  height: 50px;
}
#toppageWhat {
  margin-top: 20%;
}
.hl-text-box {
  background-color: rgba(255, 255, 255, 0.5);
}
.hl-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgba(255, 255, 255, 0.5);
  color: #333333;
}
.hl-footer a {
  color: #333333;
}
.hl-footer .hl-links {
  margin-top: 20px;
  padding-left: 0;
}
.hl-footer .hl-links li {
  display: inline;
  padding: 0 2px;
}
#toppageBackground {
  position: fixed;
  z-index: -100;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background: url("?holder.js/1280x720/text:Full Screen Video") center center no-repeat;
  background-size: cover !important;
}
#toppageBackground #video {
  display: block;
  min-width: 100%;
  min-height: 100%;
}
#toppageBackground .current-time-container {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: Menlo;
  background-color: rgba(255, 255, 255, 0.2);
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.2) !important;
}
