//
// html5lab.less
// Bootstrapとは別に、独自に定義したスタイルを記述する
// ==================================================

@import "html5lab-variables.less";

// All Pages
// --------------------------------------------------

html {
    height: 100%;
}

body {
    min-height: 100%;
}

// Header
.hl-navbar {
    background-color: @navbar-background-color;
    color: @navbar-text-color;
    .hl-brand {
        padding-top: 10px;
        padding-bottom: 10px;
        .hl-loog {
            font-size: 28px;
            line-height: 28px;
        }
        .hl-tagline {
            font-size: 10px;
            line-height: 11px;
            letter-spacing: -1px;
        }
    }
}

.hl-social-buttons {
    height: 50px;
}

// Main

#toppageWhat {
    margin-top: 20%;
}
.hl-text-box {
    background-color: rgba(255,255,255,0.5);
}

// Footer
.hl-footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background: @footer-background-color;
    color: @footer-text-color;

    a {
        color: @footer-text-color;
    }

    .hl-links {
        margin-top: 20px;
        padding-left: 0;
        li {
            display: inline;
            padding: 0 2px;
        }
    }

    .hl-copyright {
    }
}

// Top Page
// --------------------------------------------------

#toppageBackground {
    position: fixed;
    z-index: -100;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background: @background-image center center no-repeat;
    background-size: cover !important;
    #video {
        display: block;
        min-width: 100%;
        min-height: 100%;
    }
    .current-time-container {
        position: absolute;
        top: 10px;
        right: 10px;
        font-family: Menlo;
        background-color: rgba(255,255,255,0.2);
        text-shadow: 0 0 1px rgba(255,255,255,0.2) !important;
    }
}


#toppageAbout {
}


/* Left will inherit from right (so we don't need to duplicate code */
.github-fork-ribbon {
    /* The right and left lasses determine the side we attach our banner to */
    position: absolute;

    /* Add a bit of padding to give some substance outside the "stitching" */
    padding: 2px 0;

    /* Set the base colour */
    background-color: #121621;

    /* Set a gradient: transparent black at the top to almost-transparent black at the bottom */
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)), to(rgba(0, 0, 0, 0.15)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#000000', EndColorStr='#000000');

    /* Add a drop shadow */
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);

    z-index: 100000;
}

.github-fork-ribbon a {
    /* Set the font */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: white;
    pointer-events: auto;

    /* Set the text properties */
    text-decoration: none;
    text-shadow: 0 -1px rgba(0,0,0,0.5);
    text-align: center;

    /* Set the geometry. If you fiddle with these you'll also need to tweak the top and right values in #github-fork-ribbon. */
    width: 200px;
    line-height: 20px;

    /* Set the layout properties */
    display: inline-block;
    padding: 2px 0;

    /* Add "stitching" effect */
    border-width: 1px 0;
    border-style: dotted;
    border-color: rgba(255,255,255,0.7);
}

.github-fork-ribbon-wrapper {
    width: 150px;
    height: 150px;
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    top: 0;
}



.github-fork-ribbon-wrapper.right {
    right: 0;
}


.github-fork-ribbon-wrapper.right-bottom {
    position: fixed;
    top: inherit;
    bottom: 0;
    right: 0;
}

.github-fork-ribbon-wrapper.right .github-fork-ribbon {
    top: 42px;
    right: -43px;

    /* Rotate the banner 45 degrees */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.github-fork-ribbon-wrapper.left .github-fork-ribbon {
    top: 42px;
    left: -43px;

    /* Rotate the banner -45 degrees */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


.github-fork-ribbon-wrapper.left-bottom .github-fork-ribbon {
    top: 80px;
    left: -43px;

    /* Rotate the banner -45 degrees */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.github-fork-ribbon-wrapper.right-bottom .github-fork-ribbon {
    top: 80px;
    right: -43px;

    /* Rotate the banner -45 degrees */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}





