@navbar-background-color: rgba(255,255,255,0.75);
@navbar-text-color: #333;

@footer-background-color: #428bca;
@footer-text-color: #fff;

@toppage-about-background-image: url('?holder.js/1280x720/sky/text:Main Visual');
@toppage-about-background-color: #fff;
@toppage-about-text-color: #333;

@toppage-copy-background-color: #fff;
@toppage-copy-text-color: #333;

@toppage-activity-background-color: #428bca;
@toppage-activity-text-color: #fff;

@toppage-media-background-color: #eee;
@toppage-media-text-color: #333;

@toppage-product-background-color: #428bca;
@toppage-product-text-color: #fff;

@toppage-community-background-color: #5bc0de;
@toppage-community-text-color: #fff;

@navbar-logo-height: 80px;
@navbar-margin-bottom: 20px;
@body-padding-top: @navbar-logo-height + @navbar-margin-bottom;
