@navbar-background-color: rgba(255,255,255,0.75);
@navbar-text-color: #333;

@footer-background-color: #0a3c7c;
@footer-background-image: url(../img/footerBg.jpg);
@footer-text-color: #fff;

@toppage-about-background-image: url(../img/about-background.jpg);
@toppage-about-background-position:center 0 no-repeat fixed;
@toppage-about-background-color: #5ea3d2;
@toppage-about-text-color: #333;

@toppage-copy-background-color: #f8f8f8;
@toppage-copy-text-color: #333;


@toppage-activity-background-color: #0989b6;
@toppage-activity-background-image: url(../img/activity-background.png);
@toppage-activity-background-position:center 0 no-repeat fixed;
@toppage-activity-text-color: #fff;

@toppage-media-background-image: url(../img/media-background.jpg);
@toppage-media-background-position:center 0 no-repeat fixed;
@toppage-media-background-color: #eee;
@toppage-media-text-color: #333;

@toppage-product-background-image: url(../img/product-background.jpg);
@toppage-product-background-position:center 0 no-repeat fixed;
@toppage-product-background-color: #2a60aa;
@toppage-product-text-color: #fff;

@toppage-community-background-image: url(../img/community-background.jpg);
@toppage-community-background-position:center 0 no-repeat fixed;
@toppage-community-background-color: #6189c0;
@toppage-community-text-color: #fff;

@navbar-logo-height: 80px;
@navbar-margin-bottom: 20px;
@body-padding-top: @navbar-logo-height + @navbar-margin-bottom;

@contactpage-contact-background-color:#f8f8f8;
@body-background-color:#f8f8f8;

