//
// html5lab.less
// Bootstrapとは別に、独自に定義したスタイルを記述する
// ==================================================

@import "html5lab-variables.less";

// All Pages
// --------------------------------------------------

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #000;
}

// Header
.hl-navbar {
  background-color: @navbar-background-color;
  border-width: 0;
  h1 {
    margin: 0;
  }
  .hl-brand {
    padding-top: 10px;
    padding-bottom: 10px;
    .hl-logo {
      height: 28px;
    }
    .hl-tagline {
      font-size: 10px;
      line-height: 11px;
      letter-spacing: -1px;
    }
  }
}

@media (min-width: @screen-sm-min) {
  .hl-social-buttons {
    & > .navbar-text {
      width: 120px;
      height: 20px;
      overflow: hidden;
    }
  }
}

// Footer
.hl-footer {
  margin-top: 20%;
  padding-top: 40px;
  padding-bottom: 90px;
  background-color: @navbar-background-color;
  background-color: @footer-background-color;
  color: @footer-text-color;

  a {
    color: @footer-text-color;
  }

  .hl-links {
    margin-top: 20px;
    padding-left: 0;
    li {
      display: inline;
      padding: 0 2px;
    }
  }

  .hl-copyright {
  }
}

// Top Page
// --------------------------------------------------

.textbox {
  h2 {
    color: white;
    text-align: right;
    text-shadow: 0 0 2px darken(#255652, 20%), 0 2px 10px #255652;
    // Extra small devices (phones, less than 768px)
    font-size: 40px;
    margin: 200px 0 32px;
    word-wrap: break-word;
    @media (min-width: @screen-sm-min) {
      font-size: 80px;
      margin: 400px 0 64px;
      word-wrap: inherit;
    }
  }
  .content {
    background-color: @navbar-background-color;
    background-color: @content-background-color;
    -webkit-box-shadow: 0px 0px 6px #000;
    -moz-box-shadow: 0px 0px 6px #000;
    box-shadow: 0px 0px 6px #000;
    color: @content-text-color;
    p {
      a {
        color: @aqua-color;
        &:hover {
          color: lighten(@aqua-color, 20%);
        }
      }
    }
    padding: 8px;
    font-size: 16px;
    line-height: 32px;
    @media (min-width: @screen-sm-min) {
      padding: 40px;
    }
  }
}


a.more {
  border: 2px solid #e48729;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 4px #e48729;
  -moz-box-shadow: 0px 0px 4px #e48729;
  box-shadow: 0px 0px 4px #e48729;
  color: #e48729 !important;
  font-size: 14px;
  display: block;
  width: 120px;
  text-align: center;
}

#flexvideo {
  position: fixed;
  z-index: -100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;

  #video {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
  }

  #pictures {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    img {
      position: absolute;
      left: 0;
      top: 0;
      display: none;
      &.poster {
        display: block;
        z-index: -200;
      }

    }
  }
}
.product {
  h4 {
    margin: 20px 0;
  }
}
.activity-list {
  list-style-type: none;
  padding-left: 0;
}
.activity-list li {
  border-bottom: 1px solid gray;
  padding: 10px 0;
  &:nth-of-type(1) {
    border-top: 1px solid gray;
  }
}
.activity-date {

}
.activity-subject {

}
.seek-bar {
  position: fixed;
  top: 45px;
  left: 0px;
  width: 100%;
  height: 5px;
  background-color: #444;
  z-index: 2000;

  #played {
    position: absolute;
    top: 2px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: @aqua-color;
    z-index: 2020;
    -webkit-transition: left 0.1s linear 0, width 0.1s linear 0;
    -moz-transition: left 0.1s linear 0, width 0.1s linear 0;
    -o-transition: left 0.1s linear 0, width 0.1s linear 0;
    transition: left 0.1s linear 0, width 0.1s linear 0;
  }

  .buffered {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: @navbar-background-color;
    z-index: 2010;
    -webkit-transition: left 0.2s linear 0, width 0.2s linear 0;
    -moz-transition: left 0.2s linear 0, width 0.2s linear 0;
    -o-transition: left 0.2s linear 0, width 0.2s linear 0;
    transition: left 0.2s linear 0, width 0.2s linear 0;
  }

  #current {
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    top: 0px;
    right: 0px;
    width: 2px;
    height: 2px;
    background-color: lighten(@aqua-color, 50%);
    -webkit-box-shadow: 0 0 2px 1px white, 0 0 8px 4px white;
    -moz-box-shadow: 0 0 2px 1px white, 0 0 8px 4px white;
    box-shadow: 0 0 2px 1px white, 0 0 8px 4px white;
  }
}

.current-time-container {
  position: fixed;
  top: 10px;
  right: 10px;
  font-family: Menlo, Menlo, Monaco, Consolas, "Courier New", monospace;
  z-index: 2000;
  background-color: rgba(255,255,255,0.8);
}

.controls {
  position: fixed;
  bottom: -50px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 2000;
  -webkit-transition: bottom 0.5s ease-out 0.5s;
  -moz-transition: bottom 0.5s ease-out 0.5s;
  -o-transition: bottom 0.5s ease-out 0.5s;
  transition: bottom 0.5s ease-out 0.5s;
  #playButton, #pauseButton {
    color: @aqua-color;
    &:hover {
      color: lighten(@aqua-color, 20%);
    }
    width: 60px;
    height: 50px;
    font-size: 20px;
    line-height: 20px;
    padding: 15px 20px;
    margin: 0 auto;
    display: none;
    background: @navbar-background-color;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
  }
}

html {
  &.isPlaying, &.isPausing {
    .controls {
      bottom: 0;
    }
  }
  &.isPlaying {
    #pauseButton {
      display: block;
    }
  }
  &.isPausing {
    #playButton {
      display: block;
    }
  }
}

/* Left will inherit from right (so we don't need to duplicate code */
.github-fork-ribbon {
  /* The right and left lasses determine the side we attach our banner to */
  display: none;
  @media (min-width: @screen-sm-min) {
    display: block;
  }

  position: absolute;

  /* Add a bit of padding to give some substance outside the "stitching" */
  padding: 2px 0;

  /* Set the base colour */
  background-color: #121621;

  /* Set a gradient: transparent black at the top to almost-transparent black at the bottom */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)), to(rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#000000', EndColorStr='#000000');

  /* Add a drop shadow */
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);

  z-index: 1000;
}

.github-fork-ribbon a {
  /* Set the font */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: white;
  pointer-events: auto;

  /* Set the text properties */
  text-decoration: none;
  text-shadow: 0 -1px rgba(0,0,0,0.5);
  text-align: center;

  /* Set the geometry. If you fiddle with these you'll also need to tweak the top and right values in #github-fork-ribbon. */
  width: 200px;
  line-height: 20px;

  /* Set the layout properties */
  display: inline-block;
  padding: 2px 0;

  /* Add "stitching" effect */
  border-width: 1px 0;
  border-style: dotted;
  border-color: rgba(255,255,255,0.7);
}

.github-fork-ribbon-wrapper {
  width: 150px;
  height: 150px;
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  top: 0;
}

.github-fork-ribbon-wrapper.right {
  right: 0;
}

.github-fork-ribbon-wrapper.right .github-fork-ribbon {
  top: 42px;
  right: -43px;

  /* Rotate the banner 45 degrees */
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
