{% include assign_relative_path.html %}
<article class="media">
    <a href="{{ relative_path }}{{ post.url | remove_first: '/' }}" class="pull-left">
        <img class="media-object" src="{{ post.thumbnail }}" alt="{{ post.title }}" />
    </a>
    <div class="media-body">
        <a href="{{ relative_path }}{{ post.url | remove_first: '/' }}">
            <p>
                <strong class="media-heading"><date>{{ post.date | date: site.date_format }}</date></strong>
                {% for tag in post.tags %}
                <span class="label label-primary">{{ tag }}</span>
                {% endfor %}
            </p>
            <h4>
                {{ post.title }}
            </h4>
            <p class="hl-media-excerpt">
                {{ post.excerpt | replace: '<', '<!--' | replace: '>', '-->' }}
            </p>
        </a>
    </div>
</article>
