<article class="media">
    <a href="{{ relative_path }}{{ post.url | remove_first: '/' }}" class="pull-left">
        <img class="media-object" src="{{ post.thumbnail }}" alt="{{ post.title }}" />
    </a>
    <div class="media-body">
        <h2 class="h4">
            <date>{{ post.date | date: site.date_format }}</date>
            {% for tag in post.tags %}
            <span class="label label-primary">{{ tag }}</span>
            {% endfor %}
            <span>{{ post.title }}</span>
        </h2>
        <p>
            {{ post.excerpt | replace: '<', '<!--' | replace: '>', '-->' }}
            <a href="{{ relative_path }}{{ post.url | remove_first: '/' }}">続きを読む <span class="glyphicon glyphicon-chevron-right"></span></a>
        </p>
    </div>
</article>
