{% if page.url contains '/community/index.html' %}
    {% comment %} /repository_name/community/index.html の場合 {% endcomment %}
    {% assign relative_path = '../' %}
{% elsif page.url contains '/community/' %}
    {% if page.url contains '/index.html' %}
        {% comment %} /repository_name/community/*/index.html の場合 {% endcomment %}
        {% assign relative_path = '../../' %}
    {% else %}
        {% comment %} /repository_name/community/yyyy-mm-dd-title.html の場合 {% endcomment %}
        {% assign relative_path = '../' %}
    {% endif %}
{% else %}
    {% comment %} /repository_name/foo.html の場合 {% endcomment %}
    {% assign relative_path = '' %}
{% endif %}
<article class="media">
    <a href="{{relative_path}}{{ post.url | replace_first: '/', '' }}" class="pull-left">
        <img class="media-object" src="{{ post.thumbnail }}" alt="{{ post.title }}" />
    </a>
    <div class="media-body">
        <a href="{{relative_path}}{{ post.url | replace_first: '/', '' }}">
            <p>
                <strong class="media-heading"><date>{{ post.date | date: site.date_format }}</date></strong>
                <span class="label label-primary">{{ post.category }}</span>
            </p>
            <h4>
                {{ post.title }}
            </h4>
            <p class="hl-media-excerpt">
                {{ post.excerpt | replace: '<', '<!--' | replace: '>', '-->' }}
            </p>
        </a>
    </div>
</article>
