<!DOCTYPE html>
<html>
{% include assign_relative_path.html %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    {% if page.url == '/index.html' %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>{{ page.title }} ― NTTコミュニケーションズ HTML5ラボ</title>
    {% endif %}
    <link href="{{ relative_path }}css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ relative_path }}css/html5lab.css" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- ダミー画像を生成するライブラリ -->
    <script src="{{ relative_path }}js/holder.js"></script>
    <script src="{{ relative_path }}js/jquery-1.11.0.min.js"></script>
    <script src="{{ relative_path }}js/bootstrap.min.js"></script>
</head>
<body data-spy="scroll" data-target=".hl-scroll-spy" data-offset="0">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hl-logo-wrapper" href="{{ relative_path }}./"><img class="img-responsive" data-src="holder.js/150x50/text:HTML5 Lab Logo" alt="NTTコミュニケーションズ HTML5ラボ" /></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% if page.url == '/index.html' %}
                <li class="active">
                    <a href="{{ relative_path }}./">Top</a>
                </li>
                {% else %}
                <li>
                    <a href="{{ relative_path }}./">Top</a>
                </li>
                {% endif %}
                {% if page.url == '/about/index.html' %}
                <li class="active">
                    <a href="{{ relative_path }}about/">About</a>
                </li>
                {% else %}
                <li>
                    <a href="{{ relative_path }}about/">About</a>
                </li>
                {% endif %}
                {% if page.url == '/contact/index.html' %}
                <li class="active">
                    <a href="{{ relative_path }}contact/">Contact</a>
                </li>
                {% else %}
                <li>
                    <a href="{{ relative_path }}contact/">Contact</a>
                </li>
                {% endif %}
            </ul>
            <div class="col-sm-3 pull-right">
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control hl-search-box" placeholder="Search" />
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<main>
    {{ content }}
</main>
<footer class="hl-footer text-muted">
    <div class="container">
        <ul class="hl-social-buttons">
            <li>ツイート</li>
            <li>いいね</li>
            <li>B! ブックマーク</li>
        </ul>
        <ul class="hl-links">
            <li><a href="http://www.ntt.com/"><img data-src="holder.js/150x50/text:NTT Com Logo" alt="NTT Communications" /></a></li>
            <li><a href="http://www.ntt.com/aboutus/hp/disclaimer.html">免責事項・準拠法</a></li>
            <li>&middot;</li>
            <li><a href="http://www.ntt.com/copyright/">著作権について</a></li>
            <li>&middot;</li>
            <li><a href="http://www.ntt.com/privacy/">プライバシーポリシー</a></li>
            <li>&middot;</li>
            <li><a href="http://www.ntt.com/aboutus/hp/webbeacon.html">クッキーとウェブビーコンについて</a></li>
        </ul>
        <p class="hl-copy">Copyright &copy; 2014 NTT Communications</p>    </div>
</footer>
<script>
    $('body').scrollspy({ target: '.hl-scroll-spy'});
</script>
</body>
</html>
