<!DOCTYPE html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html><!--<![endif]--><head>
{% include assign_relative_path.html %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    {% if page.url == '/index.html' %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>{{ page.title }} ― {{ site.title }}</title>
    {% endif %}
    <link href="{{ relative_path }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ relative_path }}css/bootstrap-html5lab.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ relative_path }}css/html5lab.css" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- ダミー画像を生成するライブラリ -->
    <script src="{{ relative_path }}js/holder.js"></script>
    <script src="{{ relative_path }}js/jquery-1.11.0.min.js"></script>
    <script src="{{ relative_path }}js/bootstrap.min.js"></script>
    <script src="{{ relative_path }}js/html5lab.js"></script>
</head>
<body data-spy="scroll" data-target=".hl-scroll-spy" data-offset="0">
<nav class="navbar navbar-hl navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-hl-logo" href="{{ relative_path }}./"><img class="img-responsive" data-src="holder.js/150x80/text:HTML5 Lab Logo" alt="NTTコミュニケーションズ HTML5ラボ" /></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav gnav">
                {% if page.url == '/about/index.html' %}
                <li class="active＿g">
                    <a href="{{ relative_path }}about/">HTML5ラボとは</a>
                </li>
                {% else %}
                <li>
                    <a href="{{ relative_path }}about/">HTML5ラボとは</a>
                </li>
                {% endif %}
                {% if page.url == '/contact/index.html' %}
                <li class="active＿g">
                    <a href="{{ relative_path }}contact/">お問い合わせ</a>
                </li>
                {% else %}
                <li>
                    <a href="{{ relative_path }}contact/">お問い合わせ</a>
                </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav hl-social-buttons navbar-right">
                <li class="navbar-text">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site:homepage_url}}" data-lang="ja">ツイート</a>
                <li class="navbar-text">
                    <div class="fb-like" data-text="{{ site.title }}" data-href="{{ site.homepage_url }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                    <div id="fb-root"></div>
                </li>
                <li class="navbar-text">
                    <a href="http://b.hatena.ne.jp/entry/{{ site.homepage_url }}" class="hatena-bookmark-button" data-hatena-bookmark-title="{{ site.title }}" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="//b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<main>
    {{ content }}
</main>
<footer class="hl-footer text-muted text-center">
    <div class="container">
        <ul class="hl-links">
            <li><a href="http://www.ntt.com/aboutus/hp/disclaimer.html">免責事項・準拠法</a></li>
            <li>|</li>
            <li><a href="http://www.ntt.com/copyright/">著作権について</a></li>
            <li>|</li>
            <li><a href="http://www.ntt.com/privacy/">プライバシーポリシー</a></li>
            <li>|</li>
            <li><a href="http://www.ntt.com/aboutus/hp/webbeacon.html">クッキーとウェブビーコンについて</a></li>
        </ul>
        <p class="hl-logo"><a href="http://www.ntt.com/"><img src="../img/nttcomLogo.png" alt="NTT Communications" / ><!--img data-src="holder.js/150x50/text:NTT Com Logo" alt="NTT Communications" / --></a></p>
        <p class="hl-copyright">Copyright &copy; 2014 NTT Communications</p>    </div>
</footer>
</body>
</html>
